@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@400;700&display=swap");

*,
::after,
::before {
  box-sizing: border-box;
}

:root {
  --main-green: #042f1a;
  --main-pink: #ff73b5;
  --main-white: #fff6f6;
  --main-light-green: #d4ed6d;
}

body {
  margin: 0;
  font: 100%/1.5 "Montserrat", sans-serif;
  font-weight: 400;
  height: 100vh;
  font-kerning: normal;
  background-color: var(--main-green);
  width: 100vw;
  overflow-x: hidden;
}

.text-block {
  height: 110vh;
}

.text-block:nth-of-type(2) {
  position: relative;
  margin-top: 5vw;
  background-color: var(--main-pink);
}

.text-block:nth-of-type(2):before {
  content: "";
  display: block;
  position: absolute;
  bottom: 100%;
  left: 0;
  right: 0;
  height: 5vw;
  background: repeat-x center top var(--main-green);
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 2868 139' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M2868 139V43.0056C2868 53.8541 2752.86 50.0576 2649.42 16.9689C2551.18 -14.4606 2490.72 4.91814 2432.72 23.5073C2390.62 37.0006 2349.81 50.0778 2296.8 43.0057C2241.32 35.6046 2207.84 26.8376 2179.21 19.3408C2142.79 9.80471 2114.22 2.32386 2058.22 2.32386C2009.77 2.32387 1968.12 15.1762 1927.77 27.6295C1884.81 40.8875 1843.31 53.6933 1796.63 50.0572C1757.78 47.0316 1726.77 36.9158 1695.56 26.7368C1654.03 13.1927 1612.15 -0.463273 1551.04 2.32391C1502.46 4.53995 1476.32 20.0239 1453.49 33.5533C1436.08 43.8676 1419.88 49.25 1397.25 52.25L1372.25 54.1269C1341.08 54.4432 1324.58 49.9698 1221.42 16.9691C1123.18 -14.4603 1062.72 4.91841 1004.72 23.5076C962.615 37.0008 921.813 50.0781 868.802 43.0059C813.325 35.6049 779.843 26.8379 751.213 19.341C714.794 9.80498 686.224 2.32412 630.219 2.32412C581.767 2.32413 540.121 15.1764 499.768 27.6297C456.807 40.8878 415.312 53.6936 368.629 50.0575C329.785 47.0319 298.767 36.9161 267.556 26.7371C226.027 13.1929 184.154 -0.463011 123.044 2.32417C37.4142 6.22965 5.33636 43.0669 0.00117248 55.0002L0 139L2868 139Z' fill='%23ff73b5'/%3E%3C/svg%3E%0A");
  -webkit-background-size: 101% auto;
  background-size: 101% auto;
  border-bottom: 10px solid var(--main-pink);
}

.text-block:nth-of-type(3) {
  background-color: var(--main-white);
}

.text-block:nth-of-type(4) {
  background-color: var(--main-light-green);
}

.text-block:nth-of-type(5) {
  background-color: var(--main-white);
}

h1,
h2,
h3,
h4,
p,
li,
ul {
  margin: 0;
  padding: 0;
  color: var(--main-green);
}

h1 {
  font-family: "Oswald", serif;
  font-size: 200px;
  color: white;
}

h2 {
  font-family: "Oswald", serif;
  font-size: 100px;
  color: white;
  font-weight: 700;
  line-height: 100px;
  letter-spacing: 0.01em;
  margin: 0 0 0.2em 0;
  text-transform: uppercase;
  text-rendering: optimizeLegibility;
}

h3 {
  font-size: 88px;
  font-weight: 700;
  line-height: 80px;
  letter-spacing: 0.01em;
  margin: 0 0 0.2em 0;
  text-transform: uppercase;
  text-rendering: optimizeLegibility;
}

h4 {
  font-size: 34px;
  font-weight: 700;
  line-height: 80px;
  letter-spacing: 0.01em;
  margin: 0 0 0.2em 0;
  text-transform: uppercase;
  text-rendering: optimizeLegibility;
}

a {
  text-decoration: none;
}

.pointer {
  cursor: pointer;
}

p,
li,
::placeholder,
input {
  font-size: 22px;
  font-weight: 400;
  line-height: 30px;
}

li {
  list-style: none;
  font-weight: 700;
  color: var(--main-white);
}

ol > li {
  list-style: decimal;
  font-weight: 700;
  color: var(--main-white);
}

::placeholder {
  color: var(--main-green);
}

input {
  padding-left: 14px;
  color: var(--main-green);
}

input:active {
  border: none;
}

.hero-img {
  height: 420px;
  width: auto;
}

.white {
  color: var(--main-white);
}

.pink {
  color: var(--main-pink);
}

.black * {
  color: var(--main-green);
}

.completed {
  background-color: goldenrod;
}

/* NAVIGATION */

.nav {
  width: 100vw;
  height: 136px;
  background-color: var(--main-green);
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.nav li {
  cursor: pointer;
}

.btn {
  cursor: pointer;
  border: none;
  font-size: 22px;
}

.pink-btn {
  background-color: var(--main-pink);
  padding: 20px 26px;
  border-radius: 8px;
}

.pink-btn a {
  color: var(--main-green);
  font-weight: 700;
  font-size: 22px;
}

.anchor-li {
  color: white;
}

.logo {
  line-height: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 38px;
  font-weight: 700;
}

/* HERO */

.hero {
  margin: 0 auto;
  display: flex;
  width: 1200px;
  flex-direction: column;
  align-items: center;
  height: 70vw;
}

.hero-img {
  z-index: 2;
}

.hero-title1 {
  position: relative;
  margin-bottom: -120px;
  z-index: 1;
}

.hero-title2 {
  margin-top: -180px;
  z-index: 3;
}

/* ABOUT */

.about {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.about-text-area {
  max-width: 700px;
}

.about-img {
  transform: scaleX(-1);
}

/* COURSES */

.courses {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.course-list-wrapper {
  width: 500px;
  display: flex;
  flex-direction: column;
}

.course-list-item {
  background-color: var(--main-light-green);
  color: var(--main-green);
  padding: 20px;
  margin-bottom: 48px;
}

.course-list-btn {
  text-align: right;
}

/* REGISTRATION FORM */

.register {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: var(--main-light-green);
  height: 95vh;
}

.login-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(255, 255, 255, 0.95);
  width: 500px;
  height: 600px;
  gap: 25px;
  border-radius: 8px;
  box-shadow: 8px 8px 50px 8px rgba(0, 0, 0, 0.1);
}

.login-form-block {
  margin: 0 50px;
}

.login-form-item {
  min-width: 372px;
  height: 65px;
  border: none;
  background-color: var(--main-light-green);
}

.small-alert {
  color: var(--main-green);
}

.register-btn {
  height: 65px;
  min-width: 372px;
  background-color: var(--main-pink);
  color: white;
  border: none;
  border-radius: 8px;
  margin-top: 24px;
  font-size: 22px;
  font-weight: 700;
  cursor: pointer;
}

/* COURSES CONTAINER */

.single_course {
  background-color: var(--main-white);
  padding: 10px;
  margin: 10px 0;
  border-radius: 8px;
}

/* COURSE PAGE */

.course-wrapper {
  width: 850px;
  margin: 0 auto;
  padding: 35px 0;
}

.course-desc {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.lesson-wrapper {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

/* LESSON PAGE */

.view-lesson-wrapper {
  width: 850px;
  margin: 0 auto;
  padding: 35px 0;
}

.lesson-content {
  background-color: var(--main-white);
  padding: 20px;
  border-radius: 8px;
}

.button-block {
  display: flex;
  margin-top: 42px;
  height: 88px;
  gap: 25px;
}

.veiw-button,
.next-lesson-button {
  flex: 1;
  border-radius: 8px;
  background-color: var(--main-light-green);
}

.complete-button {
  flex: 2;
  border-radius: 8px;
  background-color: var(--main-pink);
}
